<!doctype html>
<html>
        <head>
                <title> Customisable Augmented Reality GUI - Create New Object</title>
                <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="static/main.css" media="screen"/>
        </head>
         
<form action="#" method="post" class="create-form-container">
        <h1>Store new Object details</h1>
        <label for="name"><b>Name</b></label>
        <input type="text placeholder="Enter Name" name="name" required>
        <button type="submit" class="btn">Save</button>
        <button type="button" class"btn cancel" onclick="closeCreateObjForm()">Close</button>
</form>
