/* Menu button on the AR page */
.menubtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Creating an animation when the button is hovered over */
.menubtn:hover, .menubtn:focus {
  background-color: #2980B9;
}

/* Setting where the drop down menu will be */
.dropdown {
  position: fixed;
  display: inline-block;
  top: 0px;
  right: 11em;
  z-index: 1;
}

/* Setting how to dropdown content will be styled */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Setting the syle when the dropdown is activated*/
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Creating an animation when the button is hovered over */
.dropdown a:hover {background-color: #ddd;}

/* Shows whatever object it's linked to */
.show {display: block;}

/* Add styles to the form container */
.create-form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.create-form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.create-form-container input[type=text] {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the save button */
.create-form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.create-form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.create-form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

