<!doctype html>
<html>
        <head>
                <title> Customisable Augmented Reality GUI - Create New Object</title>
                <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="static/main.css" media="screen"/>
        </head>
	<!-- Import A-frame V1.0.4 -->
	<script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
	<!-- Import AR.js -->
	<script src="https://raw.githack.com/jeromeetienne/AR.js/master/aframe/build/aframe-ar.min.js"></script>
	<script src="{{url_for('static', filename='Object.js')}}"></script>
	<script src="{{url_for('static', filename='ChangeObjectDetails.js')}}"></script>
	<script src="{{url_for('static', filename='OIP.js')}}"></script>
	
        <body style='margin : 0px; overflow: hidden;'>
		<form action="#" class="create-form-container">
			<h1>Store new Object details</h1>
			<label for="id"><b>Object ID</b></label>
			<input id="changingObjID" type="text" placeholder="Enter Object's Marker Number you wish to change the details of" name="id"required>
			<label for="details"><b>New Details</b></label>
			<input id="changingDetails" type="text" placeholder="Enter Object's new details, with each characteristic separated by a fullstop" size="80" rows="2">
			<button type="submit" class="btn" onclick="saveObj()">Save</button>
			<script>function saveObj(){ changeObjectDetails(); closeForm() }</script>
			<button type="reset" class="btn cancel" onclick="closeForm()">Close</button>
		</form>
	</body>
</html>
